.terminal{
  width : 100%;
  height: 100%;
}

.xterm-screen{
  width: 100% !important;
  height: 100% !important;
}

.xterm-helper-textarea{
  display : float !important;
  background-color: transparent; 
  width: 0px !important;
  height : 0px !important;
}

.xterm-char-measure-element{
  display : none;
 
}

.xterm-rows > div{
  font-family: 'Times New Roman', Times, serif;
}

.xterm-rows {
  letter-spacing: 2px !important;
}

.xterm-scroll-area{
  display : none;
}

#glownigA {
    --focus-z : 20;
    z-index : 0;
}

#glowingA:hover{
  --focus-z : 6;
  z-index: 20;
}

.glow{
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACAQMAAACnuvRZAAAABlBMVEWICAu2AgPaGVIgAAAADElEQVQI12NwYHAAAAEEAIG5Lh3wAAAAAElFTkSuQmCCiVBORw0KGgoAAAANSUhEUgAAAAUAAAAEAQMAAAB8/WcDAAAABlBMVEUTFBxMDhRSU53IAAAADklEQVQI12NgYFAAQgYAAQgAQXb2pJkAAAAASUVORK5CYII="); */
  /* background-color: black; Fallback color */
  /* background-repeat: no-repeat; */
  /* width: 1px !important;
  height: 1px !important; */
  /* background-repeat: repeat; Repeat dots to cover entire area */
  /* transform: translate(-20%, -80%); /* Center the dot within its size */
  /* box-shadow: 30px 10px 100px #cc0000;  */
  margin: 0px 2px 1px 2px !important;
  
}




.papa-div{
  row-gap: 0.6px !important;
  
}


.papa-div{
  opacity: 0; /* Initially hide containers */
  transition: opacity 2s ease-in-out; /* Smooth transition */
  counter-increment: myCounter;
}

.papa-div:nth-of-type(odd) { /* Target odd numbered containers (1st, 3rd, ...) */
  animation: show-later 2s ease-in-out forwards; /* Animate with delay */
  animation-delay: calc(1s * counter(myCounter) - 0.4s); /* Delay based on counter */
}
.papa-div:nth-of-type(even){
  transition: opacity 2s ease-in-out; /* Smooth transition */
  opacity: 0; /* Initially hide dots */
  animation: show-later 2s ease-in-out forwards; /* Animate with delay */
  animation-delay: calc(1s * counter(myCounter)); /* Delay based on counter */
}

@keyframes show-later {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h4.thickk{
  display: none;
  font-size: 12px;
  transition:  color 500ms ease-in-out; 
  font-weight: semibold;
  color:black !important;
  border-radius: 100% !important;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.3) !important;
  background-color: black !important;
}

.papa-div:hover  h4.thickk{
  display: block;
  color: white !important;
  transition: color 10ms ease-out;
  background-color: black !important;
}


/* .papa-div:hover .glow{
  animation: spread 2s ease-in-out forwards;
} */

.papa-div{
  position : relative;
}

.thickk{
  font-size: 30px;
  color: black;

  transition: color 1ms ease-in-out;

  transition: text-shadow 1ms ease-in-out;
  text-shadow:
  0.8px 0.8px 0 #8a8a8e,
  -0.8px 0.8px 0 #8a8a8e,
  -0.8px -0.8px 0 #8a8a8e,
  0.8px -0.8px 0 #8a8a8e;

  font-weight: bolder;
}

.papa-div:hover .thickk{

  color : #cc0000;
  text-shadow : none;
  
  transition: text-shadow 1s ease-out;
  transition: color 1s ease-in;
}

.tick-section{
  position : absolute;
  top:0;
  left: 0;
}